---
import testimonials from "../json/testimonials.json";
---

<section
  class=" container mt-[80px] "
>
  <div class="relative h-auto md:h-[300px]  rounded-xl bg-[#1b0520] flex flex-col gap-5 p-5 ">
    <h1 class="text-center mt-10 text-4xl">What our clients say</h1>
    <p class="self-center mx-auto max-w-[500px] text-center">
      See what our customer say about us. It really matter for us. How good or
      bad we will make ir for evaluation to make EhyalLive better.
    </p>
    <div
      class="md:absolute -bottom-[100px] flex md:flex-row flex-col justify-center items-center md:justify-between w-full p-4 gap-3"
    >
      {
        testimonials.map((e) => (
          <div class=" border border-purple-700 shadow-[0px_0px_10px_0px_purple] text-[10px] md:text-[10px] w-full md:w-[300px] h-auto rounded-xl  p-5 flex flex-col gap-4  gradiantCard md:hover:scale-110 duration-75 ease-in transition-all md:scale-95">
            <h1 class="text-orange-500">
              starstar<span class="text-white">star</span>
            </h1>
            <q class=" ">{e.quote}</q>
            <div class="flex items-center gap-5">
              <img class="h-[50px] rounded-full w-[50px] object-cover" src={e.avatar} alt={e.name} />
              <div class="flex flex-col">
                <h1 class="">{e.name}</h1>
                <h1 class="text-red-700">{e.email}</h1>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
